@charset "UTF-8";

#contents{
    width: 900px;
    height: auto;
    margin: auto; 
}
.sub_title {
    background: url(../img/sub_title.png) no-repeat;
    text-indent: -9999px;
    
}

h2.title03{
    height: 20px;
    width: 55px;
    background-position: 0 -30px;
    border-bottom: 3px solid #666;
    margin-bottom: 10px;
}
.title04{
    height: 20px;
    width:100px;
    background-position: -55px -30px;
    margin-bottom: 10px;

}

p.chk_area{
    text-align: right;
}

.b_agree{
    width: 100px;
    height: 30px;
    background-position: 0 -70px;
}

.b_noagree{
    width: 130px;
    height: 30px;
    background-position: -100px -70px;
}

textarea.noresize{
    resize: none; /*박스 조정 안되게 */
    background-color: #dedede;
    /* pointer-events: none; /*비활성화 */
}
